@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lora|Manjari|PT+Serif|Saira+Stencil+One|Schoolbell|Montserrat&display=swap');

body{
    margin: 0;
    overflow-x: hidden;
    
}

.main{
    background-color: #0B3A42;
    width: 100%;
    height: 457px;
    
    
}
.main-photo > .Vegim{
    position: absolute;
    left: 31.3%;
    top: 15%;
    font-family: 'Chilanka', cursive;
    
    color: white;
    font-weight: 200;
    font-size: 67px;
}
.main-photo > .UI{
    position: absolute;
    left: 87.3%;
    top: 40.5%;
    
    font-family: 'Schoolbell', cursive;
    color: #0B3A42;
    font-weight: 100;
    font-size: 37px;
    z-index: 1;

}

.h4-white{
    
    background-image: linear-gradient(to right ,rgb(21, 61, 68),rgb(217, 232, 235),white,white );
    position: absolute;
    width: 300px;
    height: 80px;
    left: 80%;
    top: 300px;
}

.body-languages > .html , .css , .js, .py{
    position: relative;
    display: inline;
    top: 41%;
    padding-right: 18px;
    color: #0B3A42;
    font-family: "Saira Stencil One";
    font-size: 23.3px;
    left: 34.3%;

}

.body-languages > .Intermediate{
    font-weight: 100;
    position: relative;
    top: -290px;
    color: white;
    font-size: 23px;
    font-family: "Saira Stencil One";
    left: 36.5%;
    z-index: 1;
}

.card1{
    background-image: linear-gradient(to bottom right,   rgb(134, 204, 181), rgb(208, 230, 223) ,  white);
    border: 1px solid rgba(172, 169, 169, 0.61);
    border-top-color: #0B3A42;
    position: absolute;
    top: 85%;
    left: 110px;
    width: 25%;
    height: 40%;
    border-radius: 7px;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-width: 3.3px;
    font-family: 'Courgette', cursive;
    font-size: 30px;

}
.card2{
    
    background-image: linear-gradient(to bottom right,   rgb(134, 204, 181), rgb(208, 230, 223) ,  white);
    border: 1px solid rgba(172, 169, 169, 0.61);
    border-top-color: #0B3A42;
    position: absolute;
    top: 85%;
    left: 510px;
    width: 25%;
    height: 40%;
    border-radius: 7px;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-width: 3.3px;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    
    

}
.card3{
    background-image: linear-gradient(to bottom right,   rgb(134, 204, 181), rgb(208, 230, 223) ,  white);
    border: 1px solid rgba(172, 169, 169, 0.61);
    border-top-color: #0B3A42;
    position: absolute;
    top: 85%;
    left: 910px;
    width: 25%;
    height: 40%;
    border-radius: 7px;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-width: 3.3px;
    font-family: 'Courgette', cursive;
    font-size: 30px;
   

}

.card1:hover{
    animation: div-top .4s ease forwards;
    box-shadow: 2px 3px 8px #0B3A42;
    -moz-box-shadow: 10px 3px 10px #0B3A42
}
.card2:hover{
    animation: div-top .4s ease forwards;
    box-shadow: 2px 3px 8px #0B3A42;
    -moz-box-shadow: 10px 3px 10px #0B3A42
}
.card3:hover{
    animation: div-top .4s ease forwards;
    box-shadow: 2px 3px 8px #0B3A42;
    -moz-box-shadow: 10px 3px 10px #0B3A42
}

.card1 > .card1-text{
    position: relative;
    left: 30px;
    top: 60px;

}
.card2 > .card2-text{
    position: relative;
    left: 30px;
    top: 60px;

}
.card3 > .card3-text{
    position: relative;
    left: 30px;
    top: 60px;

}





@keyframes div-top {
    0%{
        opacity: 0.5;
    }
    10%{
       transform: translateY(-1%); opacity: 0.7
    }

    20%{
        transform: translateY(-3%); opacity:0.8
    }
    40%{
        transform: translateY(-4.5%); opacity: 0.9
    }
    100%{
        transform: translateY(-6%); opacity: 1;
    }
}





.contact-facebook >img{  
    position:absolute;
    width: 120px;
    top: 140%;
    left: 15%;
}
.contact-instagram >img{  
    position:absolute;
    width: 120px;
    top: 140%;
    left: 45%;
}
.contact-twitter >img{  
    position:absolute;
    width: 120px;
    left: 75%;
    top: 140%;
}

.my-works{
    position: absolute;
    background-color:rgb(16, 60, 68);
    width: 100%;
    height:500px;
    top: 180%;
}
.my-works > .jcoders{
    border-radius: 10px;
    transform: rotate(10deg);
    width: 170px;
    position: relative;
    left: 77.3%;
    top: 60px;
}



.my-works > .other-works{
    position: relative;
    font-size: 35px;
    color: antiquewhite;
    font-family: 'Chilanka', cursive;
    font-weight: 100;
    left: 26.3%;

}


.my-works > .sc2{
    position: relative;
    left: -110px;
    top: 70px;
    width: 330px;
    border-radius: 10px;
    
}


.my-works > .sc1{
    position: relative;
    left: 10px;
    top: 70px;
    width: 325.5px;
    border-radius:10px;
}


.sc1:hover{
    animation: sc2-top .4s ease forwards;
    box-shadow: 2px 3px 8px rgb(184, 178, 178);
    -moz-box-shadow: 10px 3px 10px #0B3A42

}

.sc2:hover{
    animation: sc2-top .4s ease forwards;
    box-shadow: 2px 3px 8px rgb(57, 161, 57);
    -moz-box-shadow: 10px 3px 10px #0B3A42
}




@keyframes sc2-top {
    0%{
        opacity: 0.5;
    }
    10%{
        transform: translateY(-1%); opacity: 0.7
     }
 
     20%{
         transform: translateY(-4%); opacity:0.8
     }
     40%{
         transform: translateY(-7%); opacity: 0.9
     }
     100%{
         transform: translateY(-9%); opacity: 1;
     }
}





.footer{
    position: absolute;
    top: 300%;
    background-color: #0B3A42;
    width: 100%;
    height: 40px;
    bottom: 0%;
    
    
}

.footer-name{
    font-weight: 100;
    color: white;
    position: relative;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 9px;
    padding-left: 40%;
    top: -3px;
}






/* undercons css */


.h4-under{
    position: relative;
    left: 30%;
    top: -8.3%;
    font-size: 80px;
    font-family: "Saira Stencil One";
    color: rgb(235, 217, 217);
    font-weight: 100;


}

.body-div{
    position: absolute;
    background-color: #0B3A42;
    width: 100%;
    height: 100%;
    top: 0%;

}
.President{
    position: relative;
    left: 35.5%;
    top: -100px;
    font-size: 30px;
    color: white;
    font-family: "Saira Stencil One";
    font-weight: 100;
}
.Zv-President{
    position: relative;
    left: 5%;
    top: -80.3px;
    font-size: 30px;
    color: white;
    font-family: "Saira Stencil One";
    font-weight: 100;
}

.web{
    position: relative;
    left: 62%;
    top: -260.3px;
    font-size: 30px;
    color: white;
    font-family: "Saira Stencil One";
    font-weight: 100;
}





























